flask
flask-bcrypt
flask-cors
pymongo[srv]
python-dotenv
pyjwt
anthropic
openai
requests
tzdata
dnspython
twilio
edge_tts
gunicorn
numpy
opencv-python
face_recognition
SpeechRecognition
pydub
prometheus-flask-exporter
